body{
	margin: 0;
	padding: 0 0 52px 0!important;
	background: #fff;
	min-width: 250px;
	min-height: 100vh;
	position: relative;
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
*{
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
	outline: none!important;
}

*:hover{
	transition: all .35s ease-in-out;
	-moz-transition: all .35s ease-in-out;
	-webkit-transition: all .35s ease-in-out;
	-o-transition: all .35s ease-in-out;
}

.fancybox-container,
.fancybox-container *,
.fancybox-container *:hover{
	transition: all 0s ease-in-out!important;
	-moz-transition: all 0s ease-in-out!important;
	-webkit-transition: all 0s ease-in-out!important;
	-o-transition: all 0s ease-in-out!important;
}

.show_hide_cut_list{
	padding: 10px 15px;
	background: #428bca;
	color: #fff;
	line-height: 16px;
	cursor: pointer;
	margin-top: 20px;
}
.show_hide_cut_list span{
	margin-left: 5px;
}

a, a:hover{
	text-decoration: none!important;
}

body.modal-open {
    overflow: hidden; 
}

.modal {
  	text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
.navbar-brand{
	height: 52px;
	line-height: 22px;
}
.deskr_logo{padding: 8px 0px;}
.deskr_logo span{
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #888;
	line-height: 18px;
}
.deskr_logo span + span{
	
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
#city_list{}
#city_list *{text-align: center;}
#city_list .modal-content{
	overflow:hidden;
	border: 0!important;
}
#city_list .city_list_modal ul{
	padding: 0;
	margin: 0 -20px -20px -20px;
	border-top: 1px solid #e5e5e5;
	max-height: 201px;
	overflow: auto;
}
#city_list .city_list_modal ul li{
	list-style: none;
	text-align: center;
}
@media screen and (min-width: 768px){
	#city_list .city_list_modal ul li{
		width: 50%;
		float: left;
	}
}
#city_list .city_list_modal ul li a{
	padding: 10px 0;
	display: block;
}
#city_list .city_list_modal ul li a:hover{
	background: #5cb85c;
	color: #fff;
}
#city_list .city_list_modal .btn{max-width: 250px;width: 100%;/* margin-bottom: 10px; *//* margin-top: -10px; */margin: -10px auto 10px auto;}

.btn-icon {
    padding-top: 0;
    padding-bottom: 0;
}        
.btn > .icon {
    position: relative;
    left: -.75rem;
    display: inline-block;
    padding: .375rem .75rem;
    background: rgba(0, 0, 0, 0.15);
    border-radius: .25rem 0 0 .25rem;
}

.select_city{
	width: 0;
	height: 0;
	font-size: 0;
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
}

.slider,
.slider *,
.fancybox-container,
.fancybox-container *,
#YMapsID,
#YMapsID *{
	transition: all 0s ease-in-out;
	-moz-transition: all 0s ease-in-out;
	-webkit-transition: all 0s ease-in-out;
	-o-transition: all 0s ease-in-out;
}
.navbar-default{
	margin: 0;
}
#header_search{
	padding: 80px 0 50px 0;
	background: url(../img/h_bg.jpg) no-repeat center;
	background-size: cover;
	position: relative;
	height: 100vh;
}
#header_search.no_index{
	display: none;
	padding: 60px 0;
	height: auto;
}
#header_search .form-group{
	display: none;
}
#header_search.no_index .form-group{
	display: block;
}
#header_search::after{
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(8, 8, 8, 0.5);
	z-index: 1;
}
#header_search .form-group{
	margin: 0;
	position: relative;
	z-index: 2;
}
#header_search select,
#header_search input,
#header_search button{
	/* margin: 5px 0; */
	display: block;
	width: 100%;
}

.header_form{
	padding: 10px 15px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 4px;
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.header_form label{
	/* margin: 0; */
	height: 20px;
	display: block;
}
@media (min-width: 768px) {
	.navbar-right{
		margin-right: 0;
	}
	#header_search{
		padding: 80px 0;
	}
	.header_form{
		margin: 0 -15px;
	}
}
@media (min-width: 992px) {
	#header_search{
		padding: 120px 0;
	}
	#header_search.no_index{
		display:block;
	}
	#header_search.no_index{
		padding: 120px 0 70px 0;
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		display: block!important;
	}
}
@media (min-width: 1200px) {
	#header_search{
		padding: 150px 0;
	}
	#header_search.no_index{
		padding: 100px 0 60px 0;
	}
}

.grey_bg{
	background: #fafafa;
}

#cut_list,
#lust_ad_list,
#lust_news_list,
#lust_articles_list,
#ad_page,
#add_ad_page,
#articles_news_list,
#articles_news_page{
	padding: 45px 0;
}
.page-header{
	text-align: center;
	margin-top: 0;
}

#cut_list{

}
.page-header{
	text-align: center;
	margin-top: 0;
}
.page-header *{
	margin-top: 0;
}
#cut_list{
	text-align: center;
}
#cut_list .list-group{
	padding: 0;
	margin: 0;
	display: none;
	border-radius: 0!important;
	/* background: #333; */
	border-bottom: 1px solid #ddd;
}
#cut_list .list-group a{
	color: #428bca;
	/* display: inline-block; */
	padding: 5px 15px;
	/* margin: 2px; */
	border: 0;
	border-radius: 0;
	background: rgb(248, 248, 248);
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}
#cut_list .list-group a + a{
	border-top: 1px solid #ddd;
}
#cut_list .list-group a h4{
	color: #428bca;
	font-size: 14px;
}
#cut_list .list-group-item-heading{
	margin: 5px 0;
	text-align: center;
}
@media (min-width: 768px){
	#cut_list{
		text-align: left;
	}
	#cut_list .list-group{
		margin: 0;
	}
	#cut_list .list-group a{
		display: block;
	}
}
@media (min-width: 768px){
	#cut_list .list-group-item-heading{
		text-align: left;
	}
	#cut_list .list-group{
		
	}
	#cut_list .list-group a{
		margin: 0;
		/* padding: 10px 15px; */
		border-radius: 0;
		/* border: 0; */
	}
}
@media (min-width: 992px){
	#cut_list .list-group{
		
	}
	#cut_list .list-group a{
		padding: 7px 15px;
		border: 0!important;
		background: none;
	}
	#cut_list .list-group a h4{
		font-size: 16px
	}
	#cut_list .list-group{
		display: block!important;
		border: 0;
	}
}

#lust_ad_list,
#lust_articles_list{
	background: #fafafa;
}
#lust_ad_list .thumbnail h3,
#lust_news_list .thumbnail h3,
#lust_articles_list .thumbnail h3{
	margin-top: 0;
}

.navbar-inverse{
	border-radius: 0;
	margin: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
.badge{
	display: none;
	margin-left: 10px;
	float: none!important;
}
@media (min-width: 768px){
	.badge{
		display: inline-block;
	}
}
#filtr{
	width: 100%;
	margin-bottom: 10px;
}
.filtr{padding: 15px;/* background: #eeeeee; */border: 1px solid #eee;border-radius: 4px;margin-bottom: 30px;display: none;}
@media (min-width: 768px){
	.filtr{
		display: block!important;
	}
}
#raion{
	
}
.filtr .filtr_name{
	line-height: 30px;
	display: block;
	font-weight: bold;
	height: 30px;
}
.filtr .nav-pills{
	display: block;
}
.filtr .nav-pills>li{
	float:none;
}
.filtr .nav-pills>li>a,
.filtr .nav-pills>li>a:focus{
	background: #5cb85c;
	color: #fff;
	font-weight: 300;
	letter-spacing: 1px;
	padding: 7px 15px;
}
.filtr .checkbox{
	margin: 5px 0;
}

.ads_list{

}
.ads_list .ad{
	text-align: center;
	padding: 15px;
}
.ads_list .ad .photo{
	background: #333;
	max-width: 300px;
	margin: 0 auto;
	border-radius: 4px;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat:  no-repeat;
}
.ads_list .ad .photo::before {
	content: "";
	display: block;
	padding-top: 100%;
}
.ads_list .ad .photo .count{
	position: absolute;
	bottom: 0;
	right: 0;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.6);
	border-radius: 4px 0;
	color: #fff;
}
.ads_list .ad .deskr{padding-bottom: 10px;}
.ads_list .ad .deskr .name{font-weight: bold;font-size: 16px;margin: 15px 0 10px 0;}
.ads_list .ad .deskr .text{

}
.ads_list .ad .min_info{margin-top: 15px;}
.ads_list .ad .date,
.ads_list .ad .district,
.ads_list .ad .size{display: inline-block;padding: 5px 10px;}
.ads_list .ad .date{border: 1px solid #eee;border-radius: 4px;}
.ads_list .ad.selected .date{
    color: #fff;
    background: #5cb85c;
}
.ads_list .ad .date.today{background: #d9534f;color: #fff;}
.ads_list .ad .date.yesterday{background: #5bc0de;color: #fff;}
.ads_list .ad .district{

}
.ads_list .ad .size{font-weight:  bold;}
.ads_list .ad .price,
.ads_list .ad .kvm_price{}
.ads_list .ad .price{font-size: 20px;font-weight: bold;}
.ads_list .ad.selected .price{
	color: #d9534f;
}
.ads_list .ad .kvm_price{
    color: #676767;
}
@media (min-width: 768px){
	.ads_list .ad{
		text-align: left;
	}
	.ads_list .ad .deskr .name{
		margin: 0 0 10px 0;
	}
	.ads_list .ad .price,.ads_list .ad .kvm_price{text-align: right;}
}

.ads_list .ad + .ad{
	border-top: 1px solid #eee;
}
.ads_list .ad.selected + .ad{
	border-top: 0;
}

.ads_list .ad.selected{
	background: #fbf8e9;
	padding: 15px;
	border: 1px solid #ffe871;
	border-radius: 4px;
}

#ad_page{

}
#ad_page .photo{border-radius: 4px;overflow: hidden;/* box-shadow: 0 0 25px rgba(51, 51, 51, 0.25); */}
#ad_page .photo .slider {
    width: 100%;
    margin: 0 auto;
}
#ad_page .photo .slick-slide {
  margin: 0px;
}
#ad_page .photo .slick-slide img {
  width: 100%;
}
#ad_page .photo .slick-prev:before,
#ad_page .photo .slick-next:before {
  color: black;
}
#ad_page .photo .slick-slide {
  transition: all ease-in-out .3s;
  opacity: .2;
}
#ad_page .photo .slick-active {
  opacity: .5;
}
#ad_page .photo .slick-current {
  opacity: 1;
}
#ad_page .photo .slick-prev, #ad_page .photo .slick-next{z-index: 9;/* background: #333!important; */}
#ad_page .photo .slick-prev{left: 15px!important;}
#ad_page .photo .slick-next{right: 15px!important;}

#ad_page .text{
	margin: 15px 0;
}
@media (min-width: 768px){
	#ad_page .text{
		margin: 0;
	}
}
#ad_page .table th{width: 150px;}
#ad_page .infra{

}
#ad_page .infra span{
	display: inline-block;
	padding: 3px 10px;
	margin: 2px;
	border: 1px solid #ddd;
	border-radius: 4px;
}
#ad_page .price, #ad_page .price_kvm{display: inline-block;}
#ad_page .price{font-weight: bold;font-size: 20px;}
#ad_page .price_kvm{
    margin-left: 15px;
    line-height: 28px;
    color: #828282;
    /* font-weight: bold; */
}

.hide_block{margin-top: 20px;border: 1px solid #ddd;padding: 20px 15px 30px  15px;}
.hide_block .row > .col-xs-12{
	margin-bottom: 20px;
}
.hide_block .row > .col-xs-12 + .col-xs-12{
	margin-bottom: 0;
	padding-top: 10px;
	border-top: 1px solid #ddd;
}
@media (min-width: 768px){
	.hide_block .row > .col-xs-12 + .col-xs-12{
		border-left: 1px solid #ddd;
		border-top: 0;
	}
}
.hide_block form{
	
}
.hide_block form input{
	
}

.phone_text{padding-top: 10px;}
.phone_text span{
	display: block;
	font-size: 25px;
	color: #757575;
}
.phone_text span + span{
	font-size: 28px;
	font-weight: bold;
	color: #5cb85c;
}


select option[disabled]{
	background: #eee;
}
hr{
	margin: 15px 0;
}
#add_ad_page #size, #add_ad_page #price{
	font-weight: bold;
}
#add_ad_page .kvm,
#add_ad_page .price_kvm{padding: 6px 12px;display: block;color: #929292;}
.label_deskr{
	margin-bottom: 5px;
	margin-top: -5px;
	color: #636363;
}
.radio_check{
	font-weight: normal;
	display: inline-block;
	padding: 6px 12px;
	margin: 0;
}
.deskr_btn{
	color: #636363;
	margin: 0 0 15px 0;
}
#add_ad_page button{
	position: relative;
	padding-right: 46px;
	line-height: 25px;
}
#add_ad_page button .glyphicon{
	top: 0;
	right: 16px;
	position: absolute;
	line-height: 45px;
}

.edit{
	margin-bottom: 15px;
}
.edit button{width: 100%;}
.edit button + button{
	margin-top: 10px;
}
@media (min-width: 768px){
	.edit button{width: auto;}
	.edit button + button{
		margin: 0 0 0 5px;
	}
}
#YMapsID{
	width: 100%;
	height: 350px;
	margin: 15px 0 30px 0;
	border-radius: 4px;
	overflow: hidden;
}

#articles_news_list{
	background: #fff;
}
#articles_news_page{

}
.post{

}
.post img{
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto!important;
}

body.compensate-for-scrollbar{
	overflow: auto!important;
}
.compensate-for-scrollbar{
	margin-right: 0!important;
}

.modal .form-group{
	margin: 0;
}
.modal .form-group + .form-group{
	margin: 0 0 15px 0;
}


#js-off{
	padding-top: 30px;
}

#sort{
	position: relative;
}
.filtr_group{
	display: table;
	width: 100%;
	border-radius: 4px;
	background: #fdfdfd;
	border: 1px solid #ccc;
	overflow: hidden;
}
.filtr_group .filtr_group-block{
	display: table-cell;
	position: relative;
	line-height: 34px;
}
.filtr_group .filtr_group-block label{
	position: relative;
	display: block;
	text-align: center;
	font-weight: 300;
	margin: 0;
	cursor: pointer;
}
.filtr_group .filtr_group-block + .filtr_group-block{
	border-left: 1px solid #ccc;
}
.filtr_group .filtr_group-block input[type="radio"],
.filtr_group .filtr_group-block input[type="checkbox"]{
	position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.filtr_group .filtr_group-block input[type="radio"]:checked + label,
.filtr_group .filtr_group-block input[type="checkbox"]:checked + label{
	background: #dff0d8;
	/* color: #fff; */
	/* cursor: default; */
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.filtr_group .filtr_group-block input[type="checkbox"]:checked + label{
	/* background: #5cb85c; */
}

#filtr_btn input{
	display: block;
	width: 100%;
}
.search_mobile{
	background: #5cb85c;
	margin-top: 0!important;
}
.add_mobile{
	background: #428bca;
}
.add_mobile a{
	color: #fff!important;
}
.search_mobile,
.add_mobile{margin-top: 51px;color: #fff;padding: 10px 15px;text-align: center;cursor: pointer;}
.search_mobile div,
.add_mobile div{font-weight: bold;}
.search_mobile div .glyphicon,
.add_mobile div .glyphicon{
	margin-left: 5px;
	font-weight: bold;
}
@media (min-width: 768px){
	.search_mobile,
	.add_mobile{
		margin-top: 51px!important;
		/* float: left; */
		width: 100%;
	}
}

.thumbnail{

}
.thumbnail img{
	width: 100%!important;
	height: auto!important;
}

.get_code .btn{
	margin-top: 15px;
}
@media (min-width: 992px){
	.get_code .btn{
		margin-top: 0;
	}
}

.navbar-brand{padding: 0 15px;}
.navbar-brand span{
	text-align: center;
}
.navbar-brand .name{
	display: block;
	padding-top: 6px;
}
.navbar-brand .city{
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: block;
	line-height: 18px;
	padding: 0 10px;
	border-radius: 9px;
	color: #fff;
	background: #5cb85c;
	font-weight: bold;
}