body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0 0 45px 0;
  min-height: 100vh;
}

.page-header{
  /* margin: 20px 0; */
}

.navbar{
  border-radius: 0;
}

.btn-label {position: relative;left: -12px;display: inline-block;padding: 0 12px;background: rgba(0,0,0,0.15);border-radius: 3px 0 0 3px;}
.btn-labeled {padding-top: 0;padding-bottom: 0;border: 0;line-height: 34px;margin: 8px 0;}
.input-group { margin-bottom:10px; }
.separator { border-right: 1px solid #dfdfe0; }

.login-box p{
  margin: 15px 0 0 0;
}
.panel-body{
  /*padding: 15px 0;*/
}
.panel-footer p{
  margin: 0;
}
.panel-footer p a{
  line-height: 34px;
}
.panel-footer .btn-labeled{
  margin: 0;
}

/* Footer */

footer{
   background-color: #222;
   color:#fff;
   font-size:14px;
   line-height:25px;
   bottom: 0px;
   position: absolute;
   left: 0;
   right: 0;
}

footer a{
   color:#eee;
   text-decoration:none;
   border-bottom:1px dotted #888;
}

footer a:hover{
   color:#aaa;
   text-decoration:none;
   border:0px;
}

footer hr{
  margin-top: 10px;
  margin-bottom: 10px;
  border-top: #000 1px solid;
  border-bottom: #212121 1px solid;
}

footer .copy{
   font-size:13px;
   margin: 10px 0px;
}
.form-group.btn-section{
  margin: 0;
}
.form-group .btn{
  display: block;
  width: 100%;
}
.list-group{
  margin-bottom: 0;
}

.list{position: relative;margin: -15px;}
.list ul{
  margin: 0;
  padding: 0;
}
.list ul li{
  list-style: none;
  padding: 10px 25px;
  display: block;
  position: relative;
  left: 0!important;
  right: 0!important;
  cursor: -webkit-grab;
}
.list ul li:hover{
  background: #f5f5f5;
}
.ui-sortable-helper{
  border-top: 1px solid #ddd!important;
  border-bottom: 1px solid #ddd!important;
  background-color: #3c763d30!important;
  width: 100%!important;
  left: 0!important;
  right: 0!important;
  display: block!important;
  padding: 10px 25px!importan;
  height: auto!important;
  cursor: -webkit-grabbing!important;
}
.ui-sortable-placeholder{
  display: block!important;
  padding: 10px 25px!importan;
  height: 38px!important;
}
.list ul li + li{
  border-top: 1px solid #eee;
}

#response{height: 0!important;}

.alert{
  position: fixed;
  top: 15px;
  right: 15px;
  margin: 0;
  z-index: 9;
}
.alert .close{
  line-height: 16px;
  margin-left: 10px;
}

.panel-heading a{font-size: 14px;font-weight: 600;margin: 5px 5px 0 0;display: inline-block;color: #fff;opacity: 0.8;}
.panel-success .panel-heading a{color: #3c763d;}
.panel-heading a:hover{opacity:1;}
.panel-primary{overflow: hidden;}

.photos{
  display: block;
  width: 100%;
  margin: 0 0 15px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
}

@media (min-width: 768px){
  .modal-dialog{
    width: 750px;
  }
}
@media (min-width: 992px){
  .modal-dialog{
    width: 780px;
  }
}
@media (min-width: 1200px){

}